
  !DOCTYPE html>
<html>
<head>
<title>EMFFORME 2025.2</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>
<body>

<div class="container">

  <div class="left-section">
    <img class="logo" src="{{url_for('.static', filename='logo-pequeno.png')}}" alt="">
 
    <h2>FAÇA AGORA A SUA INSCRIÇÃO</h2>
    <form action="" method="post">
      <input type="text" name="nome" placeholder="Nome completo" required>
      <input type="number" name="idade" placeholder="Idade" required>
      <input type="text" name="cidade" placeholder="Cidade" required>
      <input type="text" name="end" placeholder="Endereço" required>

      <button type="submit">REALIZAR INSCRIÇÃO</button>
    </form>
  </div>

  <div class="right-section">
    <h1>Plataforma de email marketing para impulsionar seu negócio</h1>
    <div class="features">
      <div class="feature">
        <img src="email-marketing-icon.png" alt="Email Marketing Icon"> 
        <p>Email marketing</p>
      </div>
          <div class="feature">
        <img src="segmentation-icon.png" alt="Segmentação avançada Icon"> 
        <p>Segmentação avançada</p>
      </div>
          <div class="feature">
        <img src="website-builder-icon.png" alt="Construtor de sites sem código Icon"> 
        <p>Construtor de sites sem código com IA</p>
      </div>
          <div class="feature">
        <img src="automation-icon.png" alt="Automação de Marketing Icon"> 
        <p>Automação de marketing</p>
      </div>
          <div class="feature">
        <img src="webinars-icon.png" alt="Webinars altamente envolventes Icon"> 
        <p>Webinars altamente envolventes</p>
      </div>
          <div class="feature">
        <img src="signup-forms-icon.png" alt="Formulários e pop-ups de inscrição Icon"> 
        <p>Formulários e pop-ups de inscrição</p>
      </div>
          <div class="feature">
        <img src="analytics-icon.png" alt="Ferramentas avançadas de análise e teste Icon"> 
        <p>Ferramentas avançadas de análise e teste</p>
      </div>
          <div class="feature">
        <img src="sales-funnel-icon.png" alt="Funis automatizados de vendas, leads e webinars Icon"> 
        <p>Funis automatizados de vendas, leads e webinars</p>
      
      </div>
    </div>
    <p class="free-trial">Comece gratuitamente. Não é necessário cartão de crédito. Cancele a qualquer momento.</p>
  </div>
</div>=class <div>
  
</div>
</body> class ="feature">
<img src=""

</html>

<body>class ="feature">
  <imag src=""

</body>